[submodule "submodules/catch2"]
	path = submodules/catch2
	url = https://github.com/catchorg/catch2
[submodule "submodules/indicators"]
	path = submodules/indicators
	url = https://github.com/p-ranav/indicators
[submodule "submodules/nanobind"]
	path = submodules/nanobind
	url = https://github.com/wjakob/nanobind
[submodule "submodules/antlr4"]
	path = submodules/antlr4
	url = https://github.com/antlr/antlr4
[submodule "submodules/Mach7"]
	path = submodules/Mach7
	url = https://github.com/solodon4/Mach7/
[submodule "submodules/pytorch"]
	path = submodules/pytorch
	url = https://github.com/pytorch/pytorch.git
